*{ /* Group code start */ box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    color: white;
    scroll-behavior: smooth; 
}
body{ 
    background-color: #1c1c1c;
    min-height: 100vh; 
}
header{ 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
}
.nav_links li{ 
    display: inline-block;
    margin: 30px 30px;
    list-style: none; 
}
a:link{ 
    -decoration: none; 
}
a:visited, a:visited i{ 
    color: red; 
}
.nav_links a:hover, footer a:hover{ 
    color: red; 
}
a:active { 
    font-style: italic; 
}
.hero h1{ 
    position: absolute;
    margin: 260px 200px 0px 70px;
    font-size: 10em;
    z-index: 2;
    text-shadow: 2px 2px 15px black; 
}
span{ color: 
    red; 
}
#pic { 
    height: 800px;
    margin: 4px 0px 15px 0px; 
}
footer{ 
    background-color: black;
    padding: 15px 30px;
    margin: 700px 0px 0px 0px; 
}
th, tr, td {
    padding: 3px 5px 0 5px; 
}
table, footer a, footer h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px 10px 10px; 
} /* Group code end */
.about { /* Felicias code start */ 
    width:300px;
    padding: 20px;
    margin: 50px 0 0 580px;
    border-style: double;
    background-color: black; 
}
.bandet { 
    margin: 60px 0 0 500px; 
}
.beginning { 
    margin: 30px 0 0 650px;
    color:red; 
} /* Felicias code end */
.lyrics-box { /* Jess code start */
    width: 500px;
    position: absolute;
    top: 100px;
    left: 550px;
    border-style: double;
    background-color: #000;
    padding: 0 20px; 
} 
.lyrics-box h1 { 
    margin: 20px 150px; 
}
.lyrics-box p { 
    line-height: 30px;
    margin-top: 20px; 
}
#pic-for-jess-page { 
    width: 500px;
    margin: 30px 20px;
} /* Jess code end */





/* Krizz code start */
.tour h1{
    position: absolute;
    top: 20%;
    left: 20px;
    font-size: 40px;
    writing-mode:vertical-rl;
}
 #location, #cities{
    display: flex;
    padding: 30px;
    justify-content: space-around;
    list-style: none;
    background: black;
}
/* Krizz code end */