*{ /* Group code start */ box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    color: white;
    scroll-behavior: smooth; 
}
body{ 
    background-color: #1c1c1c;
    min-height: 100vh; 
}
header{ 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav_links li{ 
    display: inline-block;
    margin: 30px 30px;
    list-style: none; 
}
a:link{ 
    text-decoration: none; 
}
a:visited, a:visited i, .nav_links a:hover, footer a:hover, span, .beginning, .headers h3{ 
    color: red; 
}
a:active { 
    font-style: italic; 
}
.hero h1{ 
    position: absolute;
    margin: 260px 200px 0px 70px;
    font-size: 10em;
    z-index: 2;
    text-shadow: 2px 2px 15px black; 
}
#pic { 
    float: left;
    width: 50%;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
footer{ 
    padding: 15px 30px;
    margin: 100px 0px 0px 0px; 
}
th, tr, td {
    padding: 3px 5px 0 5px; 
}
table, footer a, footer h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px 10px 10px; 
} 
header, footer, .about , .grid_container, .lyrics-box {
    background: black;
} /* Group code end */
.about { /* Felicias code start */ 
    width:300px;
    padding: 20px;
    margin: 50px 0 0 580px;
    border-style: double;
}
.bandet { 
    margin: 60px 0 0 500px; 
}
.beginning { 
    margin: 30px 0 0 650px; 
} /* Felicias code end */
.lyrics-box { /* Jess code start */
    width: 500px;
    border-style: double;
    padding: 10px 20px;
    margin: 30px;
    line-height: 30px;
} 
.headers h1, .headers h3 {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.headers h3 {
    font-size: 24px;
}
#pic-for-jess-page { 
    width: 500px;
    float: left;
    margin: 30px;
} /* Jess code end */
.tour h1{ /* Krizz code start */
    position: absolute;
    top: 20%;
    left: 20px;
    font-size: 44px;
    writing-mode:vertical-rl; /* Rotate the text vertically */
}
.tour_pic{
    width:100%;
}
.grid_container{  
    margin-top: 3px;
    display: grid; 
    grid: auto/ auto auto auto; /*auto size on first row and 3 columns auto size*/
    box-shadow: 0 0 0 120px black; /* Box shadow to fill out without taking "space" */
}
.grid_container > * {  /* All child elements inside the container */
    text-align: center;
    padding: 50px; /* padding of the child elements, give the feel of space*/
    border-bottom: 1px solid #1c1c1c; /* for visual ease to see separation */
} /* Krizz code end */
