*{ /* Group code start */ box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    color: white;
    scroll-behavior: smooth; /* To make a smooth effect when you press on the "Go to top" link in the footer */
}
body{ 
    background-color: #1c1c1c;
    min-height: 100vh;
}
header{ 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.skip-link {
    background-color: #fff;
    color: #000;
    padding: 10px;
    position: absolute;
    left: 10px;
    transform: translateX(-150%);
} 
.skip-link:focus {
    transform: translate(0);
    outline: 0;
}
.nav_links li{ 
    display: inline-block;
    margin: 30px;
    list-style: none; 
}
a:link{ 
    text-decoration: none; 
}
a:visited, a:visited i, .nav_links a:hover, footer a:hover, span, .beginning, .headers h3, .merch-headers h4{ 
    color: red; 
}
a:active { 
    font-style: italic; 
}
.hero h1 { 
    position: absolute;
    margin: 260px 200px 0px 70px;
    font-size: 10em;
    z-index: 2;
    text-shadow: 2px 2px 15px black; 
}
#pic { 
    float: left;
    width: 50%;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
footer{ 
    padding: 15px 30px;
    margin: 100px 0px 0px 0px; 
} 
footer table caption{
   transform: translateX(350%);
   margin-bottom: 200px;
   font-size: 1.7em;
   font-weight: bold;
   /* Kolla igenom */
}
th, tr, td {
    padding: 3px 15px 0 15px; 
}
table, footer a, footer h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px 10px 10px; 
} 
header, footer, .about , .grid_container {
    background: black;
} /* Group code end */

.about, .lyrics-box { /* Felicias code start */ 
    width:300px;
    padding: 20px;
    margin: 50px 0 0 580px;
    border-style: double;
}
.bandet { 
    width: 500px;
    margin: 60px 0 0 500px; 
}
h1.beginning { 
    margin: 30px 0 0 650px; 
} /* Felicias code end */
.heroJess h1 { /* Jess code start */
    display: flex; /* Makes it a flexbox */
    align-items: center; /* Centering everything on the Y-axis */
    justify-content: center; /* Centering everything on the X-axis (default flex-direction is row, but if we set flex-direction: column;, then align-items: center; would be centering everything on the X-axis and justify-content: center; on the Y-axis. So basically the opposite. */
    position: absolute;
    top: 30%;
    font-size: 8rem; /* Make the font-size 16*8 px (default size is 16px)*/
    text-shadow: 10px 10px 20px red;
} 
.lyrics-box {
    position: absolute;
    top: 80px;
    background: linear-gradient(to bottom, red 10%, black 60%); /* This gives the box a filter of red and black */
    width: 300px;
    padding: 20px;
    border-style: double;
} 
.lyrics-box div.verse { 
    margin: 20px 0;
} 
.lyrics-box h2 {
    color: #1c1c1c;
} 
main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main section h2 {
    font-size: 3em;
    margin: 20px 0;
}
main section p {
    width: 80%;
    line-height: 1.5em;
}
main section blockquote {
    width: 40%;
    font-size: 1.5em;
    margin: 20px 0;
}
aside {
    margin: 50px 0 0 0;
}
aside h4, aside a {
    display: block;
    margin: 10px;
    padding: 10px;
    width: 15%;
    transition: 0.4s linear;
}
aside a:hover {
   color: #eee;
   transition: 0.4s linear;
}
/* Jess code end */

.tour h1{ /* Krizz code start */
    position: absolute;
    top: 20%;
    left: 20px;
    font-size: 44px;
    writing-mode:vertical-rl; /* Rotate the text vertically */
}
.tour_pic, #pic-for-jess-page, .rock-concert_pic {
    width:100%; /* the picture fills the hole screen, adjusts after screensize */
}
.grid_container{
    display: grid; 
    grid: auto/ auto auto auto; /*auto size on first row and 3 columns auto size*/
    box-shadow: 0 0 0 140px black; /* Box shadow to fill out without taking "space" */
}
.grid_container > * {  /* All child elements inside the container */
    text-align: center;
    padding: 50px; /* padding of the child elements, give the feel of space*/
    border-bottom: 1px solid #1c1c1c; /* for visual ease to see separation */
}
.tour_adress{
    text-align: center;
    font-size: .6em;
    padding-top: 20px;
}
.tour_article{
    text-align: center;
    margin-top: 40px;
    outline: 1px solid white;
}
/* Krizz code end */
.merch_pic { /* Rebecca Ritzén code start */
    width: 300px;
    box-shadow: 5px 5px 5px black; /*gives the pictures some shadow */
    border-radius: 5px; /* gives the pictures small round corners */
    }
#merch figcaption { 
    position: absolute; /* makes the text go over the pictures, instead of to the right besides it */
    left: 15%; /* by giving the text a percent instead of pixels, the text moves around depending on the screensize */
    top: 15%;
    font-size: 4em; /* makes the font-size 4 times larger than the default size on 16px */
    font-weight: bold;
    text-shadow: 2px 2px 15px black; 
}
.infobox-merch {
    text-align: center; /* makes the text go center, instead from the left that is default */
    margin-top: 20px;
} 
.merch-topic {
        font-size: 1.2em;
        font-weight: bold;
        margin: 10px 0;
}
.merch-headers table {
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
}
.merch-main {
display: block;
margin: 50px;
}/* Rebecca Ritzén code end */